body {
    background-color: beige;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    font-size: 50px;
    color: mediumblue;
}
h2 {
    color: midnightblue;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
puzzelen.png {
    width: 300px;
    border-radius: 50%;
    border: 8px solid #B36A5E;
    margin-bottom: 10px;
}