.nav-container {
    flex-basis: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 75%;
    background-color: #3624ff;
    display: flex;
    justify-content: center;
    height: 60px;
}

button + button {
    margin-left: 50px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav .active-link {
    text-decoration: underline;
    color: white;
}

nav .default-link {
    text-decoration: none;
}